:root {
	--primary: #000000;
    --body-lighter: #181B23;
	--body: #10151C;
	--text: #ffffff;

    --border-radius: 25px;
    --placeholder: #a9a9a9;

	--gap-small: 10px;
	--gap: 15px;
	--gap-large: 25px;
	--gap-larger: 40px;
}